h1.title Sign in

form.signin
  label.signin-label(for="email") Email
  input.signin-input#email(type="text")

  label.signin-label(for="password") Password
  input.signin-input#password(type="password")

  .signin-buttons
    button.signin-buttons-button(type="submit", ng-click="signin()") sign in
