doctype 5
html
  head
    title Translation Typesetting

    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500,500italic,400italic,300italic,300,100,100italic&subset=latin,cyrillic")
    link(rel="stylesheet", href="/styles/index.css")

    script(src="/components/jquery/jquery.js")
    script(src="/components/datejs/build/date.js")
    script(src="/components/lodash/dist/lodash.js")
    script(src="/components/ace-builds/src-min-noconflict/ace.js")
    script(src="/components/angular/angular.js")
    script(src="/components/angular-resource/angular-resource.js")
    script(src="/components/angular-ui-ace/ui-ace.js")
    script(src="/scripts/index.js")

    script(src="/socket.io/socket.io.js")

  body(ng-app="translationTypesetting")
    .container
      header.header
        p.logo Translation Typesetting

        nav.nav
          a.nav-link(href="#!/translations") Inbox
          a.nav-link(href="#!/") Sign out

      section.content(ng-view)

      footer.footer
        p.copyrights &copy; 2013 Translation Typesetting
