@import "nib"

red = #941100
yellow = #FFFFCC

global-reset()
reset-html5()

a
  color red

body
  margin 0
  font-family Roboto
  font-size 16px

.container
  width 980px
  margin 0 auto
  background-color red

.header
  padding 30px
  clearfix()

.logo
  float left
  font-size 32px
  font-weight 100
  color white

.content
  padding 30px
  background-color yellow

.title
  margin-bottom 30px
  font-size 64px
  font-weight bold

.signin-label
  display block
  margin-bottom 5px

.signin-input
  width 898px
  height 60px
  padding 0 10px
  border 1px solid gray
  margin-bottom 20px
  font-size 32px

.signin-buttons
  text-align right

.signin-buttons-button
  display inline-block
  width 300px
  height 60px
  padding 0
  font-size 24px
  background-color red
  color white
  border none
  border-radius 10px
  box-shadow 0 5px 0 darken(red, 50%)

.footer
  padding 30px

.copyrights
  color white
  text-align right

.nav
  float right

.nav-link
  display inline-block
  margin-left 30px
  color white
  line-height 32px

.translations
  width 100%

.translations-title
  padding 10px 0

.translations-cell
  padding 10px 0
  font-size 24px
