@import "nib"

red = #941100

global-reset()
reset-html5()

body
  margin 0
  font-family Roboto
  font-size 16px

.container
  width 980px
  margin 0 auto
  background-color red

header
  padding 30px

.logo
  font-size 32px
  font-weight 100
  color white
